@model LoginRequest

@section Style
{
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<div class="login-wrapper">

    <form asp-controller="Auth" asp-action="Login">

        <div class="login-content">
            <div class="mb-4">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="mb-4">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Logga in</button>
            </div>
            @Html.ValidationSummary(true)
        </div>

    </form>

</div>