@using System.Text
@using Genealogy.Domain.Entities
@using Genealogy.Web.Models.Person
@model PersonViewModel

<h1>@Model.Name.DisplayName</h1>
<div class="name">
    <span class="firstname">@Model.Name.FirstName</span>
    <span class="lastname">@Model.Name.LastName</span>
</div>

@if (@Model.Profession is { Length: > 0 } profession)
{
    <div class="profession">@profession</div>
}

@if (@Model.Notes is { Length: > 0 } notes)
{
    <div class="notes">@notes</div>
}

<div class="person-content">

    @if (@Model.TimelineItems is { Count: > 0 } timelineItems)
    {
        <partial name="_Timeline" model="@timelineItems" />
    }

    @if (@Model.Tree is { } tree)
    {
        <div class="tree">
            @if (tree.Father is { } far)
            {
                @if (far.Father is { } farfar)
                {
                    <div class="person farfar">
                        <div class="relation">Farfar</div>
                        <div class="name"><a asp-action="Person" asp-route-id="@farfar.Id">@farfar.Name.DisplayName</a></div>
                    </div>
                }
                @if (far.Mother is { } farmor)
                {
                    <div class="person farmor">
                        <div class="relation">Farmor</div>
                        <div class="name"><a asp-action="Person" asp-route-id="@farmor.Id">@farmor.Name.DisplayName</a></div>
                    </div>
                }
                <div class="person far">
                    <div class="relation">Far</div>
                    <div class="name"><a asp-action="Person" asp-route-id="@far.Id">@far.Name.DisplayName</a></div>
                </div>
            }
            @if (tree.Mother is { } mor)
            {
                @if (mor.Father is { } morfar)
                {
                    <div class="person morfar">
                        <div class="relation">Morfar</div>
                        <div class="name"><a asp-action="Person" asp-route-id="@morfar.Id">@morfar.Name.DisplayName</a></div>
                    </div>
                }
                @if (mor.Mother is { } mormor)
                {
                    <div class="person mormor">
                        <div class="relation">Mormor</div>
                        <div class="name"><a asp-action="Person" asp-route-id="@mormor.Id">@mormor.Name.DisplayName</a></div>
                    </div>
                }
                <div class="person mor">
                    <div class="relation">Mor</div>
                    <div class="name"><a asp-action="Person" asp-route-id="@mor.Id">@mor.Name.DisplayName</a></div>
                </div>
            }
            <div class="person self">
                <div class="name">@tree.Self.Name.DisplayName</div>
            </div>
            @if (tree.Families is { Count: > 0 } families)
            {
                <div class="partner-block">
                    @foreach (var family in families)
                    {
                        <div class="person partner">
                            <div class="relation">Partner</div>
                            @if (@family.Partner is null)
                            {
                                <div class="name">-</div>
                            }
                            else
                            {
                                <div class="name"><a asp-action="Person" asp-route-id="@family.Partner.Id">@family.Partner.Name.DisplayName</a></div>
                            }
                        </div>
                        @foreach (var child in family.Children)
                        {
                            <div class="person child">
                                <div class="relation">@(child.Sex == PersonSex.Male ? "Son" : "Dotter")</div>
                                <div class="name"><a asp-action="Person" asp-route-id="@child.Id">@child.Name.DisplayName</a></div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }

</div>
