@using System.Text
@using Genealogy.Domain.Entities
@using Genealogy.Web.Models.Person
@model PersonViewModel

<h1>@Model.Name.DisplayName</h1>
<div class="name">
    <span class="firstname">@Model.Name.FirstName</span>
    <span class="lastname">@Model.Name.LastName</span>
</div>

@if (@Model.Profession is { Length: > 0 } profession)
{
    <div class="profession">@profession</div>
}

@if (@Model.Notes is { Length: > 0 } notes)
{
    <div class="notes">@notes</div>
}

<div class="person-content">

    @if (@Model.TimelineItems is { Count: > 0 } timelineItems)
    {
        <partial name="_Timeline" model="@timelineItems" />
    }

    @if (@Model.Tree is { } tree)
    {
        <partial name="_Tree" model="@tree" />
    }

    @if (@Model.Media is { Count: > 0 } mediaItems)
    {
        <partial name="_Media" model="@mediaItems" />
    }

</div>
